.catalog__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

.catalog__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #ececec;
  margin-top: 32px;
  margin-bottom: 0;
}

@media (min-width: $tablet-width) {
  .catalog__list {
    display: grid;
    grid-template-rows: 334px 334px 334px;
    row-gap: 54px;
    list-style-type: none;
    padding: 0;
    margin-top: 67px;
    margin-bottom: 50px;
  }

  .catalog__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid #ececec;
    margin-top: 0;
    min-height: 334px;
  }
}

@media (min-width: $desktop-width) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    column-gap: 51px;
    list-style-type: none;
    padding: 0;
    margin-bottom: 55px;
  }

  .catalog__card {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 1px solid #ececec;
    margin-top: 47px;
    position: relative;
  }
}
