.catalog__list {
  list-style-type: none;
  margin: 30px;
  padding: 0;
}

.catalog__card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 1px solid #ececec;
  margin-top: 30px;
}

@media (min-width: $tablet-width) {

}

@media (min-width: $desktop-width) {
}
