.catalog-card__name {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  margin-top: 29px;
  margin-bottom: 5px;
  padding-right: 30px;
}

.catalog-card__title {
  text-decoration: none;
  position: relative;
}

.catalog-card__price::before {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 204px;
  height: 1px;
  content: url("/img/images-svg/divider-card.svg");
}

.catalog-card__item {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
}

.catalog-card__description {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #444444;
  margin-bottom: 41px;
  margin-top: 0;
}

.catalog-card__description--additional {
  line-height: 24px;
}

.catalog-card__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 27px;
  align-items: center;
  margin-bottom: 21px;
}

.catalog-card__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  position: relative;
  margin: 0;
  text-align: center;
}

// .catalog-card__price::after {
//   background-image: url("../img/images-svg/basket-img.svg");
//   background-repeat: no-repeat;
//   width: 20px;
//   height: 19px;
//   position: absolute;
// }

.catalog-card__button {
  font-weight: 700;
  font-size: 18px;
  line-height: 16px;
}

@media (max-width: $mobile-width-only) {
  .catalog-card__information {
    display: block;
  }

  .catalog-card__image {
    width: 260px;
    height: 195px;
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .catalog-card__information {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .catalog-card__image {
    width: 334px;
    height: 334px;
    display: block;
  }

  .catalog-card__description {
    // margin-bottom: 202px;
    font-size: 15px;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  .catalog-card__name {
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-top: 24px;
    padding-right: 70px;
  }

  .catalog-card__item {
    display: grid;
    grid-template-rows: 55px 209px 73px;
    margin-left: 32px;
  }

  .catalog-card__price {
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .catalog-card__price::before {
    position: absolute;
    top: -40px;
    left: 0;
    width: 268px;
    height: 1px;
    content: url("/img/tablet/divider-tablet.svg");
  }

  .catalog-card__wrapper {
    margin-right: 30px;
    margin-bottom: 16px;
  }

  .catalog-card__description--basket {
    margin-top: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__information {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .catalog-card__image {
    width: 316px;
    height: 462px;
  }

  .catalog-card__description {
    margin-bottom: 60px;
  }

  .catalog-card__item {
    grid-template-rows: 57px 72px 65px;
    margin-left: 27px;
  }

  .catalog-card__name {
    padding-right: 50px;
    margin: 26px 0 0;
  }

  .catalog-card__price::before {
    width: 255px;
    top: -40px;
  }

  .catalog-card__wrapper {
    margin-bottom: 10px;
  }
}
