.collaboration__contacts {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
 }

 .collaboration__item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
 }

 .collaboration__description {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
 }

 .collaboration__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
 }
