.collaboration__contacts {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.collaboration__item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  width: 76px;
}

.collaboration__description {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-decoration: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #444444;
}

.collaboration__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.collaboration__description--email {
  text-decoration: none;
  border-bottom: 1px solid #62d1ba;
}

@media (max-width: $mobile-width-only) {
  .collaboration {
    margin-bottom: 39px;
  }

  .collaboration__wrapper {
    margin-bottom: 28px;
  }

  .collaboration__details {
    padding: 0 29px 62px;
  }

  .collaboration__data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
}

@media (min-width: $tablet-width) {
  .collaboration__wrapper {
    margin: 68px 50px 49px 50px;
    position: relative;
  }

  .collaboration__wrapper::after {
    position: absolute;
    top: -20px;
    right: 30px;
    content: url("../img/images-svg/flag.svg");
    z-index: 1;
  }

  .collaboration__contacts {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 700;
    font-size: 43px;
    line-height: 50px;
  }

  .collaboration__item {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    padding: 0;
  }

  .collaboration__description {
    font-family: "OpenSans", "Arial", sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
    color: #444444;
    margin: 0;
    padding: 0;
  }

  .collaboration__info {
    margin: 49px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 25px;
  }

  .collaboration__data {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
