.container {
  margin: 0 auto;

  @media (max-width: $mobile-width-only) {
    width: 320px;
  }

  @media (min-width: $tablet-width) {
    width: 772px;
  }

  @media (max-width: $desktop-width) {
    width: 1150px;
  }
}
