.copyright__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  color: #000000;
}

@media (max-width: $mobile-width-only) {
  .copyright__link {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    // margin-right: 25px;
    text-decoration: none;
    text-align: center;
    align-items: center;
  }

  .copyright__text {
    text-align: center;
    margin-right: 27px;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  .copyright__text {
    text-align: center;
    margin-right: 28px;
  }
}
