.feedback {
  margin-top: 36px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.feedback__button {
  padding: 14px 49px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin-bottom: 57px;
    margin-top: 55px;

    .feedback__button {
      padding: 14px 33px;
      text-decoration: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    justify-content: flex-start;
    margin-left: 190px;
    margin-top: -45px;
    margin-bottom: 110px;
  }

  .feedback__button {
    padding: 18px 40px;
    text-decoration: none;
  }
}
