.feedback {
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.feedback__button {
  margin: 2px 14px;
  padding: 16px 35px;
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .feedback {
    margin-bottom: 57px;
  }
}

@media (min-width: $desktop-width) {
  .feedback {
    justify-content: flex-start;
    margin-left: auto;
    margin-top: -70px;
  }
}
