.footer {
  background-color: #f1f1f1;
}

@media (max-width: $mobile-width-only) {
  .footer__logo {
    display: none;
  }

  .footer__social {
    background-color: #f1f1f1;
  }

  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 79px;
  }
}

@media (min-width: $tablet-width) {
  .footer__part {
    display: grid;
    grid-template-columns: 102px 142px 181px;
    column-gap: 122px;
    padding-top: 50px;
    padding-bottom: 58px;
  }

  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .footer__part {
    display: grid;
    grid-template-columns: 102px 142px 181px;
    column-gap: 312px;
  }
}
