.footer {
  background-color: #f1f1f1;
}

@media (max-width: $mobile-width-only) {
  .footer__logo {
    display: none;
  }

  .footer__social {
    background-color: #f1f1f1;
  }

  .footer__copyright {
    padding: 29px 69px 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .copyright__link {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
    // margin-right: 25px;
    text-decoration: none;
  }
}

@media (min-width: $tablet-width) {
  .footer__part {
    display: grid;
    grid-template-columns: 102px 142px 181px;
    column-gap: 122px;
    margin: 51px 50px 58px 50px;
  }

  .footer__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .copyright__link {
    text-align: center;
    text-decoration: none;
  }

  .copyright__text {
    text-align: center;
  }
}

// @media (min-width: $desktop-width) {
//   .footer__part {
//     display: grid;
//     grid-template-columns: 102px 142px 181px;
//     column-gap: 312px;
//     margin: 51px 50px 58px 50px;
//   }
// }
