.form {
  display: flex;
  flex-direction: column;
}

.form__group {
  padding: 0;
  border: none;
  position: relative;
  list-style-type: none;
  border-top: 1px solid #62d1ba;
}

.form__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  margin-left: 25px;
  display: flex;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    line-height: 18px;
    margin-left: 42px;
  }

  @media (min-width: $desktop-width) {
    font-size: 19px;
    line-height: 18px;
  }
}

.form__radiobutton {
  margin-top: 11px;
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 24px;
    height: 52px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 24px;
    height: 52px;

    &:first-child {
      margin-top: 3px;
    }
  }

  .form__label-radiobutton {
    display: block;
    // position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    margin-right: 10px;
    align-self: center;
  }

  .form__input-radiobutton {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .form__input-radiobutton:checked ~ .form__checkmark {
    &::after {
      display: block;
    }
  }

  .form__input-radiobutton:disabled ~ .form__checkmark {
    &::after {
      opacity: 0.3;
    }
  }

  .form__checkmark {
    position: absolute;
    top: -5px;
    left: 0;
    height: 42px;
    width: 42px;
    border: 1px solid #444444;
    border-radius: 50%;

    @media (min-width: $tablet-width) {
      height: 52px;
      width: 52px;
    }
  }

  .form__checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 11px;
    left: 11px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #63d1bb;

    @media (min-width: $tablet-width) {
      width: 22px;
      height: 22px;
      top: 14px;
      left: 14px;
    }
  }
}

.form__group-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  flex-direction: column;
}

.form__group-list--type {
  margin-top: 32px;
  margin-bottom: 39px;
}

.form__group-list--checkbox {
  margin-top: 10px;
}

.form__wrapper--details {
  margin-top: 41px;
}

.form__group-list--details {
  margin-top: 15px;
}

.form__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  position: absolute;
  top: -8px;
  left: 0;
  background-color: #ffffff;
  padding: 0 20px 0 30px;

  @media (min-width: $tablet-width) {
    top: 38px;
  }
}

.form__input--contacts {
  @media (min-width: $tablet-width) {
    margin-left: 165px;
  }
}

.form__input--data {
  margin-left: 0;
  margin-top: 22px;
}

.form__wrapper--additional {
  margin-top: 0;
}

.form__input--additional {
  margin-top: 28px;
}

.form__input--name {
  margin-top: 36px;
}

.form__input--surname {
  margin-top: 22px;
}

.form__wrapper--data {
  margin-top: 42px;
  margin-bottom: 45px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.form__input--phone {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-top: 58px;
    margin-left: 165px;
  }
}

.form__input--email {
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-bottom: 50px;
    margin-left: 165px;
    margin-top: 0;
  }
}

.form__icon {
  z-index: 2;
  position: absolute;
  top: 10px;
  right: 20px;
}

.form__icon--phone {
  top: 24px;
  right: 35px;
}

.form__icon--email {
  top: 30px;
  right: 33px;
}

.form__checkbox {
  margin-top: 23px;
  display: flex;
  align-items: center;
  min-height: 38px;
  position: relative;

  &:hover {
    color: #222222;
  }

  &:active {
    color: #222222;
    opacity: 0.3;
  }

  .form__label-checkbox {
    display: block;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
  }

  .form__input-checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .form__checkmark {
    position: absolute;
    left: 0;
    top: 2px;
    height: 38px;
    width: 38px;
    border: 1px solid #444444;

    @media (min-width: $tablet-width) {
      height: 52px;
      width: 52px;
      top: -5px;
    }
  }

  .form__checkmark::after {
    content: "";
    position: absolute;
    display: none;
    top: 4px;
    left: 12px;
    width: 33%;
    height: 57%;
    border: solid #000000;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
  }

  .form__checkbox .form__checkmark {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: -5px;
    border: 1px solid #cdcdcd;
  }

  .form__input-checkbox:checked ~ .form__checkmark {
    &::after {
      display: block;
    }
  }

  .form__input-checkbox:disabled ~ .form__checkmark {
    &::after {
      display: none;
    }
  }
}

.form__label {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: #000000;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__input-checkbox {
  width: 38px;
  height: 38px;
  border: 1px solid #444444;
  background-color: transparent;
  flex-grow: 1;
}

.form__input {
  display: flex;
  flex-direction: column;
  // margin-top: 21px;
}

.form__field {
  width: 260px;
  height: 52px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  border: none;
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 2px solid #444444;
  outline: none;
}


.form__field--name {
  @media (min-width: $tablet-width) {
    width: 428px;
  }

  @media (min-width: $desktop-width) {
    width: 626px;
  }
}

.form__field--middle {
  @media (min-width: $tablet-width) {
    width: 375px;
  }

  @media (min-width: $desktop-width) {
    width: 573px;
  }
}

.form__field--phone {
  @media (min-width: $tablet-width) {
    width: 501px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form__field--email {
  @media (min-width: $tablet-width) {
    width: 501px;
  }

  @media (min-width: $desktop-width) {
    width: 700px;
  }
}

.form__textarea {
  border: 2px solid #444444;
  height: 142px;
  width: 260px;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  padding-top: 17px;
  padding-left: 17px;
  padding-right: 17px;
}

.form__notes {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 27px;
}

.form__button {
  padding: 16px 35px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 260px;
  min-height: 52px;
  background-color: #ffffff;
  font-size: 17px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 14px 15px;
    width: 230px;
  }
}

.form__send {
  margin-bottom: 54px;
}

@media (min-width: $tablet-width) {
  .form__group {
    border-top: none;
  }

  .form__group-list {
    margin: 0 40px 40px 170px;
  }

  .form__wrapper {
    margin-top: 0;
  }

  .form__title {
    background-color: #f1f1f1;
    left: 20px;
  }

  .form__wrapper--type .form__title {
    background-color: #ffffff;
  }

  .form__group--checkbox {
    justify-content: center;
  }

  .form__checkbox {
    margin-top: 36px;
  }

  .form__field {
    font-size: 19px;
    line-height: 18px;
    font-weight: 400;
    padding-left: 18px;
  }

  .form__input--data {
    margin-top: 25px;
  }

  .form__group-list--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
    margin: 0 60px 40px 170px;
    // margin-top: 18px;
  }

  .form__wrapper--colors {
    background-color: #f1f1f1;
    padding-top: 25px;
  }

  .form__wrapper--details {
    display: grid;
    padding-top: 45px;

    .form__input {
      flex-direction: row;
    }

    .form__title {
      background-color: #ffffff;
    }

    .form__label {
      text-align: center;
      margin-top: 15px;
      margin-right: 25px;
    }
  }

  .form__wrapper--data {
    background-color: #f1f1f1;
  }

  .form__group--phone {
    background-color: #f1f1f1;
  }

  .form__field--email {
    background-color: #f1f1f1;
    position: relative;
  }

  .form__field--phone {
    background-color: #f1f1f1;
    position: relative;
  }

  .form__icon--phone {
    top: 70px;
    right: 75px;
  }

  .form__icon--email {
    top: 18px;
    right: 72px;
  }

  .form__wrapper--data .form__title {
    background-color: #ffffff;
  }

  .form__input--phone {
    background-color: #f1f1f1;
  }

  .form__group--email {
    background-color: #f1f1f1;
  }

  .form__group--phone .form__title {
    background-color: #f1f1f1;
  }

  .form__group--email .form__title {
    background-color: #f1f1f1;
  }

  .form__group--add .form__title {
    background-color: #ffffff;
  }

  .form__input--additional {
    margin: 44px 0 50px 165px;
  }

  .form__textarea {
    width: 501px;
    font-size: 19px;
    line-height: 18px;
    padding-top: 15px;
  }

  .form__input {
    display: flex;
    flex-direction: row;
  }

  .form__notes {
    order: 2;
    margin: 0;
    text-align: center;
    font-size: 17px;
    line-height: 30px;
  }

  .form__send {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  .form__contacts {
    display: grid;
    grid-template-rows: 1fr 1fr;
    row-gap: 24px;
    background-color: #f1f1f1;
  }
}


@media (min-width: $desktop-width) {
  .form__title {
    position: absolute;
    top: 15px;
    left: 80px;
    background-color: #f1f1f1;
  }

  .form__group {
    margin-left: 190px;
  }

  .form__group-list {
    margin: 0 80px 40px 175px;
  }

  .form__group--radiobutton {
    margin-left: 0;
  }

  .form__group-list--checkbox {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 52px 52px;
    column-gap: 80px;
    row-gap: 24px;
    margin: 0 150px 50px 175px;
  }

  .form__wrapper--colors {
    padding-top: 55px;
  }

  .form__group--details {
    display: grid;

    .form__input {
      flex-direction: row;
    }

    .form__label {
      text-align: center;
      margin-top: 20px;
      margin-right: 27px;
    }
  }

  .form__wrapper--details {
    padding-top: 20px;
  }

  .form__input--phone {
    margin-left: 175px;
  }

  .form__input--email {
    margin-left: 170px;
  }

  .form__group--phone .form__title {
    background-color: #f1f1f1;
  }

  .form__group--email .form__title {
    background-color: #f1f1f1;
  }

  .form__group--add {
    margin-left: 0;
  }

  .form__group--add .form__title {
    background-color: #ffffff;
  }

  .form__button {
    padding: 16px 12px;
    width: 230px;
    font-weight: 700;
    font-size: 17px;
    line-height: 16px;
    order: 1;
    margin-left: 175px;
  }

  .form__input--additional {
    justify-content: flex-end;
    margin: 44px 175px 53px 105px;
  }

  .form__textarea {
    width: 700px;
    padding-left: 15px;
    font-size: 19px;
    line-height: 18px;
  }

  .form__notes {
    margin-right: 175px;
  }

  .form__checkbox {
    margin-top: 0;
  }

  .form__icon--phone {
    top: 70px;
    right: 235px;
  }

  .form__icon--email {
    top: 18px;
    right: 230px;
  }

  .form__send {
    margin-bottom: 47px;
  }
}

.form__title--colors {
  @media (min-width: $tablet-width) {
    top: 45px;
    left: 18px;
  }

  @media (min-width: $desktop-width) {
    top: 17px;
    left: 80px;
  }
}

.form__title--details {
  @media (min-width: $tablet-width) {
    top: 45px;
    left: 18px;
  }

  @media (min-width: $desktop-width) {
    top: 47px;
    left: 80px;
  }
}

.form__title--phone {
  @media (min-width: $tablet-width) {
    top: 75px;
    left: 18px;
  }

  @media (min-width: $desktop-width) {
    top: 80px;
    left: 80px;
  }
}

.form__title--email {
  @media (min-width: $tablet-width) {
    top: 18px;
    left: 18px;
  }

  @media (min-width: $desktop-width) {
    top: 23px;
    left: 80px;
  }
}

.form__title--add {
  @media (min-width: $tablet-width) {
    top: 62px;
    left: 18px;
  }

  @media (min-width: $desktop-width) {
    top: 67px;
    left: 80px;
  }
}
