.intro__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  justify-content: center;
  text-align: center;
}

.intro__title--catalog {
  background-color: #f1f1f1;
  padding-top: 73px;
  padding-bottom: 73px;
}

@media (min-width: $tablet-width) {
  .intro__title {
    font-size: 43px;
    line-height: 50px;
  }

  .intro__title--catalog {
    padding-top: 101px;
    padding-bottom: 75px;
  }
}

@media (min-width: $desktop-width) {
  .intro__title {
    font-size: 53px;
    line-height: 57px;
  }

  .intro__title--catalog {
    padding-top: 102px;
    padding-bottom: 96px;
  }
}
