.intro__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 27px;
  line-height: 30px;
  justify-content: center;
  text-align: center;
  background-color: #f1f1f1;
  padding-top: 73px;
  padding-bottom: 73px;
}

// .intro__title--catalog {
//   background-color: #f1f1f1;
//   padding-top: 73px;
//   padding-bottom: 73px;
// }

@media (max-width: $mobile-width-only) {
  .intro::after {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .intro__title {
    font-size: 43px;
    line-height: 50px;
    padding-top: 101px;
    padding-bottom: 75px;
  }

  .intro::after {
    display: block;
    background-image: url("../img/images-svg/zigzag-desktop.svg");
    background-position: bottom center;
    content: "";
    height: 24px;
    width: 100%;
    margin-top: -50px;
  }
}

// @media (min-width: $desktop-width) {
//   .intro__title {
//     font-size: 53px;
//     line-height: 57px;
//     padding-top: 102px;
//     padding-bottom: 96px;
//   }
// }
