.main-nav {
  display: flex;
}

.main-nav__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: $mobile-width-only) {
  .main-nav {
    position: absolute;
    top: 49px;
    left: 0;
    width: 100%;
    z-index: 1;
    min-height: 316px;
    background-color: #ffffff;
  }

  .main-nav--nojs {
    display: block;
    position: static;
  }

  .main-nav--opened {
    min-height: 200px;
  }

  .main-nav--closed {
    display: none;
  }

  .main-nav--closed .main-header__toggle--nojs {
    display: none;
  }

  .main-nav--closed .site-list {
    display: none;
  }

  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
  }

  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px fade(#000000, 40%);
  }

  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }

  .main-nav--nojs .site-list__item {
    display: flex;
  }

  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: center;
  }

  .site-list__link {
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    text-transform:none;
    text-decoration: none;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 26px;
  }

  .main-nav__add {
    display: none;
  }
}
