.main-header {
  background-color: #ffffff;
  color: #000000;
}

.main-header__part {
  justify-content: center;
}

.main-header__logo {
  border: none;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-header__text {
  color: #444444;
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}


@media (max-width: $mobile-width-only) {
  .main-header__part {
    min-height: 79px;
  }

  .main-header__wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
  }

  .main-header__logo {
    position: absolute;
    top: 22px;
    left: 86px;
  }

  .main-header__logotip {
    height: 35px;
    width: 86px;
  }

  .main-header__item {
    display: none;
  }

  .main-header__toggle {
    position: absolute;
    background: url("../img/images-svg/menu-opening.svg") center no-repeat;
    background-color: transparent;
    top: 32px;
    right: 0;
    width: 20px;
    height: 14px;
    cursor: pointer;
    justify-self: end;
    border: none;
  }

  .main-header__toggle--nojs {
    display: none;
  }

  .main-header__toggle--nojs ~ .main-header__toggle {
    display: none;
  }

  .main-header__toggle.active {
    background: url("../img/images-svg/menu-close.svg") center no-repeat;
  }
}

@media (min-width: $tablet-width) {
  .main-header__part {
    height: 89px;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px solid #f1f1f1;
  }

  .main-header__wrapper {
    border-right: #444444;
  }

  .main-header__toggle {
    display: none;
  }

  .main-header__logo {
    position: absolute;
    top: 22px;
    left: 48px;
  }

  .main-header__logotip {
    height: 46px;
    width: 113px;
  }

  .main-header__item {
    display: flex;
    justify-content: right;
    margin-top: -40px;
    margin-left: 380px;
  }
}

@media (min-width: $desktop-width) {
  .main-header__part {
    position: relative;
  }

  .main-header__wrapper {
    margin: 0;
  }

  .main-header__logo {
    position: absolute;
    top: 9px;
    left: 470px;
    margin-left: 45px;
    margin-right: 101px;
  }

  .main-header__logotip {
    height: 72px;
    width: 149px;
  }

  .main-header__item {
    margin-top: -60px;
    margin-left: 500px;
  }
}
