.manufacturing {
  margin: 30px 30px 58px 30px;
  border: 1px solid #ececec;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.manufacturing__title {
  display: flex;
}

.manufacturing__slogan {
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  position: relative;
  display: flex;
  margin: 21px 13px 26px 91px;
}

.manufacturing__slogan::before {
  position: absolute;
  top: 10px;
  left: -57px;
  content: url("../img/images-svg/video.svg");
  width: 32px;
  height: 22px;
  display: block;
}

.manufacturing__description {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin-bottom: 41px;
}

.manufacturing__text {
  margin-left: 34px;
}

.manufacturing__wrapper {
  position: relative;
}

.manufacturing__button {
  padding: 18px 11px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  width: 192px;
  min-height: 52px;
  margin-bottom: 33px;
}

@media (max-width: $mobile-width-only) {
  .manufacturing {
    display: block;
  }

  .manufacturing__order {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $tablet-width) {
  .manufacturing {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .manufacturing__wrapper {
    order: 1;
  }

  .manufacturing__image {
    width: 668px;
    height: 455px;
    background-size: cover;
  }

  .manufacturing__title {
    order: 2;
  }

  .manufacturing__text {
    order: 3;
  }

  .manufacturing__order {
    order: 4;
  }

  .manufacturing__button {
    padding: 18px 207px;
    width: 584px;
    min-height: 52px;
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .manufacturing {
    display: grid;
    grid-template-columns: 682px 155px;
    grid-template-rows: 152px 152px 152px;
    column-gap: 79px;
  }

  .manufacturing__image {
    width: 682px;
    height: 455px;
    background-size: cover;
  }

  .manufacturing__wrapper {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: -1;
    grid-row-end: 1;
  }

  .manufacturing__text {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-left: 0;
  }

  .manufacturing__order {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .manufacturing__title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .manufacturing__button {
    width: 230px;
    padding: 18px 29px;
  }
}
