.map iframe {
  border: none;
  display: block;
  width: 100%;
}

@media (max-width: $mobile-width-only) {
  .map iframe {
    height: 454px;
  }
}

@media (min-width: $tablet-width) {
  .map iframe {
    background-image: url("../img/tablet/map-tablet@1x.png");
    height: 457px;
    width: 768px;
    // width: 100%;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet/map-tablet@2x.png");
    }
  }
}
