.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  min-width: 320px;
  max-width: 320px;
  margin: 0 auto;
  padding: 30px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-shadow: 0 5px 10px #63d1bb;
  transform: translate(-50%,-50%);

  @media (min-width: $tablet-width) {
    max-width: 566px;
    padding: 108px;
  }
}

.modal__close {
  display: none;
}

.modal__title {
  text-align: center;
  margin: 0 0 14px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.modal__form-group {
  border: none;
}

.modal__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
}

.modal__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.modal__submit {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 46px;

  color: #ffffff;

  background-color: #63d1bb;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    max-width: 350px;
  }
}
