.modal {
  // display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2;

  min-width: 320px;
  max-width: 320px;
  margin: 0 auto;
  padding: 30px;

  background-color: #ffffff;
  border: 1px solid #cdcdcd;
  box-shadow: 0 5px 10px #c6c6c6;
  transform: translate(-50%,-50%);

  @media (min-width: $tablet-width) {
    max-width: 566px;
    padding: 108px;
  }
}

.modal__close {
  display: none;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal__title {
  text-align: center;
  margin: 0 0 14px 0;

  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.modal__form-group {
  border: none;
  padding: 0;
}

.modal__legend {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #444444;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 21px;
}

.modal__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.modal__item {
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(68, 68, 68, 0.1);
  margin-right: 7px;

  &:last-child {
    margin-right: 0;
  }
}

.modal__item--active {
  border: 2px solid #63d1bb;
}

.modal__label {
  padding: 18px 34px;
  color: #444444;
}

.modal__input {
  display: none;
}

.modal__submit {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 46px;
  margin-top: 31px;
  height: 52px;

  color: #ffffff;

  background-color: #63d1bb;
  border: none;
  outline: none;

  @media (min-width: $tablet-width) {
    max-width: 350px;
  }
}

.modal__text {
  padding: 18px 67px;
  font-weight: 700;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
