.order__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
}

.order__slogan {
  display: flex;
  justify-content: flex-start;
  margin-top: 17px;
  margin-bottom: 35px;
}

.order__content {
  display: flex;
  flex-direction: column;
}

@media (max-width: $mobile-width-only) {
  .order__text {
    font-size: 13px;
    line-height: 24px;
    padding-right: 0;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .order__text {
    font-size: 17px;
    line-height: 30px;
    padding-right: 10px;
    margin-top: 35px;

    & br {
      display: none;
    }
  }

  .order__slogan {
    justify-content: center;
  }

  // .order__content {
  //   margin: 54px 0 0 0;
  // }
}

@media (min-width: $desktop-width) {
  .order__text {
    font-size: 17px;
    line-height: 30px;
    padding: 20px 175px;
  }

  .order__slogan {
    margin-top: 48px;
    justify-content: center;
    margin-bottom: 25px;
  }

  .order__content {
    margin: 0;
  }
}
