.order__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  color: #444444;
}

.order__slogan {
  display: flex;
}

.order__content {
  display: flex;
  flex-direction: column;
}

@media (max-width: $mobile-width-only) {
  .order__text {
    font-size: 13px;
    line-height: 24px;
    padding-right: 0;
  }

  .order__slogan {
    margin: 0 0 37px 0;
  }

  .order__content {
    margin: 17px 30px 0 30px;
  }
}

@media (min-width: $tablet-width) {
  .order__text {
    font-size: 17px;
    line-height: 30px;
    padding-right: 10px;

    & br {
      display: none;
    }
  }

  .order__slogan {
    margin: 0 50px 37px 50px;
  }

  .order__content {
    margin: 54px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .order__text {
    font-size: 13px;
    line-height: 24px;
  }

  .order__slogan {
    margin: 0 0 37px 0;
  }

  .order__content {
    margin: 17px 30px 0 30px;
  }
}
