.promotion__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.promotion__goods {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
}

.promotion__slogan {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.promotion__item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.promotion__attribute {
  text-transform: capitalize;
}

.promotion__price {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.promotion__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}
