.promotion__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.promotion__goods {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.promotion__slogan {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #444444;
}

.promotion__item {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
}

.promotion__attribute {
  text-transform: capitalize;
}

.promotion__price {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.promotion__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

@media (max-width: $mobile-width-only) {
  .promotion {
    margin: 31px 30px 36px;
  }

  .promotion__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 21px;
    justify-content: center;
  }

  .promotion__item {
    border: #cdcdcd 1px solid;
    // border-radius: 3px;
    // position: relative;
  }

  .promotion__attribute {
    display: flex;
    flex-direction: row;
    // box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }
}
