.site-list__item {
  list-style-type: none;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.site-list__link {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  list-style-type: none;
  color: #000000;
  text-decoration: none;
}

@media (max-width: $mobile-width-only) {
  .site-list {
    width: 100%;
    flex-direction: column;
    justify-items: center;
    padding: 0;
    margin: 0 auto;
  }

  .site-list__item {
    display: flex;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #e6e6e6;
    position: relative;
  }

  .site-list__link {
    background-color: #ffffff;
    color: #000000;
    margin: 0 auto;
    text-transform: none;
    text-decoration: none;
    justify-content: center;
    margin-top: 28px;
    margin-bottom: 26px;
    margin-left: 76px;
  }

  .site-list__item--basket::before {
    position: absolute;
    top: 30px;
    left: 36px;
    content: url("../img/images-svg/basket-img.svg");
    z-index: 1;
  }

  .site-list__item--search::before {
    position: absolute;
    top: 30px;
    left: 36px;
    content: url("../img/images-svg/search.svg");
    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
  }

  .site-list__item--search {
    background-image: url("../img/images-svg/search.svg");
    background-repeat: no-repeat;
    z-index: 1;
    width: 20px;
    height: 20px;
    order: 1;
    margin: 36px 34px 33px 31px;
  }

  .site-list__item--basket {
    order: 2;
  }

  .site-list__item--catalog {
    order: 3;
  }

  .site-list__item--order {
    order: 4;
  }

  .site-list__item--basket::before {
    position: absolute;
    top: 80px;
    left: 180px;
    content: url("../img/images-svg/basket-img.svg");
    z-index: 1;
  }

  .site-list__link--search {
    display: none;
    padding: 36px 34px 33px 31px;
  }
}
