.footer__social {
  margin-top: 39px;
}

.social__list {
  padding: 25px 89px 28px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
}

.social__item {
  margin-right: 29px;
  text-decoration: none;
}
