.social__list {
  padding: 28px 59px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  list-style: none;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;
  justify-content: space-between;
  align-items: center;
  min-width: 135px;
}

.social__item {
  text-decoration: none;
  width: 28px;
  min-height: 22px;
  display: flex;
  justify-content: center;

  &:last-child {
    margin-right: 0;
  }

  .social__link {
    align-self: center;
  }

  .social__icon {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding: 0;
    border: none;
    align-items: center;
    padding-top: 8px;
  }
}

@media (min-width: $desktop-width) {
  .social__item {
    margin-right: 29px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
